# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.venv

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Logs and databases
*.log
*.sqlite

# Other files and folders to ignore
*.swp
*~
